* {
  font-family: 'Libration Serif', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 5px;
  border: 1px solid #eeeeee;
  /* border-radius: 8px; */
  background-color: #1e1e1e;
}

/* Inner Box */
#inner-box {
  border: none;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

/* Scroll */
/* #scroll {
  margin: 0px;
  padding: 10px;
  border: none;
} */

/* Input */
#input {
  margin: 10px 0px;
  padding: 8px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  /* border-radius: 50px; */
  color: white;
  background-color: #1e1e1e;
}

#input image {
  border: none;
  color: white;
}

/* #input * {
  outline: 4px solid @red!important;
} */

/* Text */
#text {
  margin: 5px;
  border: none;
  color: white;
}

#entry {
  background-color: #1e1e1e;
}

#entry arrow {
  border: none;
  color: white;
}

/* Selected Entry */
/* #entry:selected {
  border: 1px solid white;
} */

#entry:selected #text {
  font-weight: bolder;
}

/* #entry:drop(active) {
  background-color: @lavender!important;
} */